@import url(../font/SourceHanSans-Regular.ttc);
body,html{
    font-family: 'SourceHanSans-Regular';
    scroll-behavior: smooth;
    background:url('../images/bg.png') repeat #F4F2F1;
    color: #030102;
}
img {
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
span{
    color: #000000;
}
p{
    font-size: .8em;
}
h5{
    color: #fff;
}
.pink{
    background: #DA5682;
}
.text_pink{
    color: #DA5682;
}
.lightPurple{
    background: #B675A0;
}
.blue{
    background: #1D94E5;
}
.sex{
    color: #FFE500;
    font-size: 1em;
}
.banner{
    position: relative;
    height: 25em;
    overflow: hidden;
    object-fit: cover;
}
.banner::after{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to Top, #F4F2F1, rgba(255,255,255,0));
}
.banner img{
    width: 100%;
}
.banner .circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    content: "";
    top: 30%;
    width: 8em;
    height: 8em;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}
.banner .female{
    left: 20%;
    background: linear-gradient(to Top, #FF8C64, #DA5682);
}
.banner .male{
    right: 20%;
    background: linear-gradient(to Top, #00C8C9, #1D94E5);
}
.yellow{
    background: linear-gradient(to Top, #FFF8DC, rgba(255,248,220,0));
}
.yellow .main_title h4{
    color: #1D94E5;
}
.yellow .main_title,.yellow .main_title .text_pink{
    position: relative;
}
.yellow .main_title .text_pink::after{
    position: absolute;
    content: '';
    display: block;
    top: -100%;
    left: -30%;
    width: 2.5em;
    height: 2.5em;
    background: radial-gradient(rgba(218, 86, 130, .3),rgba(218, 86, 130, .2),rgba(218, 86, 130, 0), rgba(245, 243, 239, 1));
    border-radius: 50%;
}
.yellow .main_title::after{
    position: absolute;
    content: '';
    display: block;
    bottom: 20%;
    right: 30%;
    width: 3em;
    height: 3em;
    background: radial-gradient(rgba(29, 148, 229, .3), rgba(29, 148, 229, .2), rgba(29, 148, 229, 0), rgba(245, 243, 239, 1));
    border-radius: 50%;
}
.yellow .box, .box2{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.yellow .box2{
    position: relative;
    flex-direction: row-reverse;
}
.yellow .box .tag{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: .8em;
    padding: 1em;
}
.yellow .box2 .tag{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: .8em;
    padding: 1em;
}
.yellow .box:nth-child(1) .title{
    color: #DA5682;
}
.yellow .box2 .title{
    color: #B675A0;
}
.yellow .box:nth-child(3) .title{
    color: #1D94E5;
}
.yellow .cover{
    max-height: 18em;
    overflow: hidden;
}
.yellow img{
    width: 120%;
    object-fit: cover;
}
.info{
    padding: 0 1em;
    width: 70%;
}
.purple{
    background: #F5F8FE;
    background-image: linear-gradient(
    90deg,
    #f0ebff 0%,
    #f0ebff 5%,
    #e7dbf5 5%,
    #e7dbf5 20%,
    #f0ebff 20%,
    #f0ebff 30%,
    #e7dbf5 30%,
    #e7dbf5 40%,
    #f0ebff 40%,
    #f0ebff 50%,
    #e7dbf5 50%,
    #e7dbf5 60%,
    #f0ebff 60%,
    #f0ebff 70%,
    #e7dbf5 70%,
    #e7dbf5 90%,
    #f0ebff 90%,
    #f0ebff 100%,
    #e7dbf5 100%
    );
    font-size: .6em;
}
.purple .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to TOP, #F5F8FE 30%, #FFE500 70%);
    border-image: linear-gradient(#B675A0, #FFE500) 30;
    border-width: 2px;
    border-style: solid;
    height: 28em;
    padding: 1em;
}
.yellow .cover{
    display: block;
    max-height: 20em;
    overflow: hidden;
}
.footer .container{
    display: flex;
    align-items: center;
}
.footer a{
    color: #000000;
    font-size: .8em;
    padding: 0 1.5em;
    background: url(../images/arrow.png) left center no-repeat;
}
.copyright{
    background: linear-gradient(to right, #DA5682, #1D94E5);
    color: #fff;
    font-size: 1em;
}

@media only screen and (max-width: 992px) { 
    h5{
        font-size: 1em;
    }
    .banner span{
        font-size: .8em;
    }
    .banner{
        height: auto;
    }
    .banner .circle{
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 6em;
        height: 6em;
    }
    .banner .female{
        top: 30%;
    }
    .banner .male{
        top: 60%;
    }
    .purple, .copyright{
        font-size: .8em;
    }
    .footer .container{
        display: flex;
        flex-direction: column;
    } 
    .footer a{
        display: block;
        text-align: left;
        margin-bottom: 1em;
    }
}
@media only screen and (max-width: 768px) { 
    h5{
        font-size: .8em;
    }
    .banner span{
        font-size: .6em;
    }
    .banner .circle{
        width: 4.5em;
        height: 4.5em;
    }
    .banner .female{
        top: 30%;
    }
    .banner .male{
        top: 70%;
    }
    .box, .box2{
        display: flex;
        flex-direction: column;
    }
    .info{
        padding: 1em;
        width: 100%;
    }
    .yellow .main_title > span{
        display: none;
    }
    .yellow .main_title,.yellow .main_title .text_pink{
        display: block;
    }
    .yellow .main_title .text_pink::after{
        top: -50%;
        left: 20%;
        width: 1.8em;
        height: 1.8em;
    }
    .yellow .main_title::after{
        bottom: 30%;
        right: 15%;
        width: 2.5em;
        height: 2.5em;
    }
    .yellow .box2{
        flex-direction: column;
    }
}